<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- Navbar -->
        
    <header>
        <a href="#" class="logo">Ketan <span> .exe </span></a>
    
        <ul class="nav-list">
            <li><a href="main.html">Home</a></li>
            <li><a href="skills.html" class="">Skills</a></li>
            <li><a href="#">My work</a></li>
            <li><a href="#">Experiences</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    
</body>
</html>
