*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

/*-------------------------------------------------------------- Section CSS ------------------------------------------------------------*/

.intro{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #000028 0%, #000020 28.53%, #000011 75.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10rem;
  color: white
  ;
}

section{
  padding: 0 19%;
}

.intro-text h5{
  font-size: 28px;
  font-weight: 400; 
}

.intro-text h4{
  font-family: 'Parmanent Marker';
  font-size: 70px;
  line-height: 1;
  margin: 0 0 20px;
  color: rgb(255, 22, 92);
}

.intro-text p {
  margin-bottom: 30px;
}

.intro-text a{
  display: inline-block;
  color: white;
  background-color:rgb(255, 22, 92);
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
}

.intro-text a:hover{
  background-color:rgb(250, 149, 180);
}

.my-img img{
  width: 500px;
  height: auto;
  border-radius: 40%;
}

/* ----------------------------------------------social links icons------------------------------------------- */

.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}

.icons i:hover{
  color: rgb(255, 22, 92);
  transform: translateY(-5px);
}

.scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down i{
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background-color: rgb(255, 22, 92);
  border-radius: 30px;
  transition: all .50s ease;
}

.scroll-down i:hover{
  transform: translateY(-5px);
}




/* ------------------------------------------animation logos home page-------------------------------------------------- */

.logo-animate img{
  width: 70px;
  animation: float 6s linear infinite;
}

.logo-animate{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

@keyframes float {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
 
  50%{
    opacity: 1;
  }

  70%{
    opacity: 1;
  }

  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.logo-animate img:nth-child(1){
  animation-delay: 2s;
}
.logo-animate img:nth-child(2){
  animation-delay: 4s;
}
.logo-animate img:nth-child(3){
  animation-delay: 3s;
}
.logo-animate img:nth-child(4){
  animation-delay: 7s;
}
.logo-animate img:nth-child(5){
  animation-delay: 5s;
}
.logo-animate img:nth-child(6){
  animation-delay: 4.5s;
}